@import url('https://fonts.googleapis.com/css?family=Hind&display=swap');
@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  background: rgb(84, 109, 119);
}


/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: rgb(100, 194, 147);
  font-family: 'Hind', sans-serif;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.3rem;
}

/* Change color on hover */
.topnav a:hover {
  background-color: rgb(106, 223, 178);
  color: black;
}

header {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgb(106, 223, 178);
  box-shadow: 0px 1px 13px;
}

.logo-img {
  margin-top: 1vh;
  height: 20vh;
}

.logo:hover {
  cursor: pointer;
}

.logo-text {
  font-size: 3em;
  margin-left: 1rem;
  font-family: 'Hind', sans-serif;
}

.section {
  display: flex;
  flex-direction: column; 
}


.card {
  display: flex;
  flex-direction: column;
  margin-top: 3em;
  margin-left: 9em;
  margin-bottom: 3em;
  width: 700px;
  background-color: rgb(133, 231, 157);
  box-shadow: 1px 1px 20px;
}

p {
  font-size: 3em;
  text-align: center;
  font-family: 'Hind', sans-serif;
  border-bottom: black solid 5px;
}

button {
  margin-top: 1em;
  margin-left: 2em;
  margin-bottom: 1em;
  width: 9em;
  font-family: 'Varela Round', sans-serif;
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


button:hover {
  background-color: #45a049;
}


img {
  width: 100%;
}

.card:nth-child(1) {
  margin-left: 33em;
}

.card:nth-child(2) {
  margin-left: 25em;
}

.card:nth-child(3) {
  margin-left: 17em;
}



@media screen and (max-width: 1150px) {
  .card {
    width: 700px;
  }
  .card:nth-child(1) {
    margin-left: 6em;
  }
  
  .card:nth-child(2) {
    margin-left: 6em;
  }
  
  .card:nth-child(3) {
    margin-left: 6em;
  }
}

@media screen and (max-width: 850px) {
  .card {
    width: 500px;
  }
  .card:nth-child(1) {
    margin-left: 4em;
  }
  
  .card:nth-child(2) {
    margin-left: 4em;
  }
  
  .card:nth-child(3) {
    margin-left: 4em;
  }
}

@media screen and (max-width: 600px) {
  .card {
    width: 400px;
  }
  .card:nth-child(1) {
    margin-left: 1em;
  }
  
  .card:nth-child(2) {
    margin-left: 1em;
  }
  
  .card:nth-child(3) {
    margin-left: 1em;
  }
}


@media screen and (max-width: 500px) {
  .card {
    width: 300px;
  }
  .card:nth-child(1) {
    margin-left: 1em;
  }
  
  .card:nth-child(2) {
    margin-left: 1em;
  }
  
  .card:nth-child(3) {
    margin-left: 1em;
  }
}
