@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  
  body {
    background: rgb(84, 109, 119);
  }

.card {
    display: flex;
    justify-content: center;
    width: 70em;
    background-color: rgb(98, 167, 115);
    margin-left: 1em;
    margin-top: 1em;
   
}



img {
    width: 100%;
}

p {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    background-color: rgb(161, 179, 161);
    padding: 1em;
    font-size: 2em;
    margin-left: 2em;
    margin-top: 1em;
    box-shadow: 1px 1px 10px;
}

button {
    background-color: rgb(101, 161, 101);
    border: none;
    padding: 1em;
    border-radius: 100%;
    margin-top: 1em;
    margin-left: 1em;
    margin-bottom: 1em;
}

button:hover {
    background-color: rgb(54, 172, 54);
    cursor: pointer;
}

@media screen and (max-width: 1150px) {
    .card {
        width: auto;
        margin-right: 1em;
    }
    p {
        margin-left: 1em;
        margin-right: 1em;
    }
}

@media screen and (max-width: 700px) {
    p {
        font-size: 5vw;
    }
}
